{{yield}}

<ul id="git-users">

	<br/>
	<h4>SeeClickFix Developers</h4>
	{{#each users as |user|}}
		{{#link-to "git-users.repo" user.login class="list-group-item {{if user.active 'active'}}" }}
			<img src="{{user.avatar_url}}" class="avatar-url" />{{user.login}}
		{{/link-to}}
	{{/each}}

	<br/>
	<h4>others</h4>

	{{#link-to "git-users.repo" 'kschipulring' class="list-group-item" }}
		<img src="https://avatars.githubusercontent.com/u/13711542?" class="avatar-url" />kschipulring
	{{/link-to}}
</ul>