.ember-view ul{
	padding-left: 0px;
	max-height: 45vh;
	overflow:auto;
}

.row .col-sm-3 .panel .panel-body{
	padding:0px;
}

.ember-view .col-sm-3 {
	position: static;
}

.force-down{
	/*position: absolute;*/
	/*top: calc(90% + 40px);*/
	width: 100%;
}

@media (min-width: 768px){
	.ember-view .col-sm-3 {
		width: 33%;
	}

	.force-down{
		/*top: calc(50% + 40px);*/
	}
}



#foo{
	display: none;
}


.table.table-bordered th{
	border: 1px solid #CCC;
	padding: 5px;
}
.table.table-bordered td{
	border: 1px solid #DDD;
	padding: 5px;
}

img.avatar-url{
	width:32px;
	height:auto;
	padding-right: 10px;
}